.news{
    border: 1px solid black ;
    width: 170px;
    height: 100px;
}
body>input:nth-of-type(3):hover{
     background-color: aqua;
 }
body>input:nth-of-type(2):active{
    background-color:blueviolet ;
}