		.Layer_0 {
  background-color: #eae5d5;
   font-size: 77px;
  width: 1000px;
  height: 2206px;
border: 1px solid black;
margin : 0 auto;
}

.Corked_Screwer
 {
  font-size: 49%;
  color: #550019;
  font-family: "Glasgow";
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 50px;
  top: 80.6px;
  z-index: 145;
}
.Unique_resource_for_wine_lovers {
  font-size: 12px;
  font-family: "Georgia";
  color: #a39b82;
  font-style: italic;
  line-height: 1.5;
  text-align: justifyLeft;
  text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 116px;
  top: 126px;
  width: 182px;
  height: 14px;
  z-index: 111;
}
.Latest_articles {
  font-size: 17px;
  font-family: "Arial";
    color: #550019;
  line-height: 1.2;
  text-align: justifyLeft;
  position: absolute;
  left: 396px;
  top: 55px;
  z-index: 103;
}
.Vineyards___Winery_Offers_Indulgent_Adventures_ {
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(43, 94, 94);
  font-style: italic;
  text-decoration: underline;
  line-height: 1.636;
  text-align: justifyLeft;
  text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 396.92px;
  top: 84.689px;
  width: 258px;
  height: 73px;
  z-index: 108;
}

.The_best_blog_about_wine__We_love_wine_and_we_c {
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(167, 167, 167);
  font-style: italic;
  line-height: 1.364;
  text-align: right;
  position: absolute;
  left: 720px;
  top: 95.689px;
  width: 194px;
  height: 39px;
  z-index: 97;
}

   ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 94px; /* Значение полей */
       left: 20px;
  top: 195.689px;
  width: 164px;
  height: 39px;
   }
   ul.hr li {
      font-size: 15px;
  font-family: "Arial";
    color: #d6d6d6;
background-color: #252525;
    display: inline; /* Отображать как строчный элемент */
  
    padding: 53px; /* Поля вокруг текста */
   }