.field{
    width: 600px;
    height: 350px;
    border-radius: 2%;
    border: 1px solid black;
    background-image: url("../img/fon-rasteniya-trava-21120.jpg");
    position: relative;
    margin: auto;
}
#result{
    position: absolute;
    width: 160px;
    height: 70px;
    border-radius: 4%;
    background: lightskyblue;
    top:30px;
    left:200px;
    font-weight: bolder;
    color: #c71e25;
    display: none;
}
#result>p{
    position: absolute;
    top:10px;
    left: 20px;
}
#start{
     position: absolute;
     width: 80px;
     height: 60px;
     border-radius: 4%;
     background: lightskyblue;
     top:160px;
    left:240px;
 }
#element{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: darkcyan;
    top: 200px;
    visibility: hidden;
}
.score{
     left:20px;
 }
.time,.score{
    font-weight: bolder;
    color: #c71e25;
    position: absolute;
    top:20px;
}
.time{
    left:520px;
}