catalog{
   width: 800px;
    display: table;
}
.name{
    border: 1px solid black;
    width: 180px;
    height: 400px;
    display: table-row;
}
.about{
    border: 1px solid black;
    width: 180px;
    height: 400px;
    display: table-cell;
}
.img1{
    border: 1px solid black;
    background-image: url("..img\Far cry Primal.jpg");
    width: 180px;
    height: 400px;
    display: table-cell;
}