.krug
{
	margin: 800px;
	padding: 400px;
 width:500px; 
 height:70px; 
  color: #ffffff; 
 background:#e2534b; 
 border: 3px #CCCCCC solid; 
 border-radius: 10px; 
}
.f0{

    width: 1500px; 
    height: 70px;
    margin: 22 px; 
    padding: 10px; 
	background: #76c7c0;
    color: #ffffff;
}
.f1{

    width: 1500px; 
    height: 700px;
    margin: 22 px; 
    padding: 10px; 
	background: #7f8c8c;
    color: #ffffff;
}


