body { 
	font-family: PT Sans;
	width: 793.7px;
	height: 1122.52px;
	padding: 20pt; /* Поля */
	padding-left: 30pt;
	padding-right: 135pt;
	-moz-box-sizing: border-box; /* Для Firefox */
	-webkit-box-sizing: border-box; /* Для Safari и Chrome */
	box-sizing: border-box; /* Для IE и Opera */
}
h1 {
	font-size: 13pt;
	color: #38761d;
}
h2 {
	font-size: 11.5pt;
	color: #00123f;
}
p { 
	font-size: 8pt;
} 
a { 
	color: #03275f;
	text-decoration: none; /* Отмена подчёркивания у ссылки */
} 
small {
	font-size: 6pt;
	color: #898989;
}
.link {
	font-size: 8.5pt;
}
.und_text {
	font-size: 6pt;
}
.date {
	font-size: 7.5pt;
	color: #898989;
}
.link2 {
	font-size: 6.5pt;
	color: #898989;
}
.r_text {
	font-size: 13pt;
	color: #e0173d;
	font-style: italic;
	font-weight: bold;
}
.b_text {
	color: #0000ff;
	font-weight: bold;
}
#name {
	text-decoration: underline;
}