@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('fonts/MyriadPro-Regular.woff') format('woff'),
    url('fonts/MyriadPro-Regular.ttf') format('truetype'),
    url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
    url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


.main {
    background-color: #ece7d7;
    position: relative;
    left: 0px;
    top: 0px;
    width: 1000px;
    height:2206px;
    margin: auto;
    z-index: 1;
    border: 1px solid black;
}
.Corked>div:first-of-type{
    font-size: 39px;
    font-weight: bold;
    font-family: "MyriadPro-Regular";
    color: #4f0016;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 79px;
    top: 70px;
}
.Corked>div:last-of-type{
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(43, 94, 94);
    font-style: italic;
    line-height: 1.5;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 144px;
    top: 113.843px;
    height: 14px;
    z-index: 112;
}
.Latest{
    position:relative;
    left: 387px;
    top: 23px;
}
.Latest>div:first-of-type{
    font-size: 17px;
    font-family: "Arial";
    color: #4f0016;
    position: absolute;

    left: 0px;
    top: 0px;
}
.Latest>ul{
    left: 2px;
    top: 24px;
    font-size: 11px;
    font-family: "Georgia";
    color: rgb(43, 94, 94);
    font-style: italic;
    text-decoration: underline;
    padding:0px;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.3);
    position: absolute;
    list-style-type: none;
    width: 258px;
    height: 73px;
}
.Latest>ul>li{
    margin-bottom: 10px;
    line-height:13px;
}
.menu{
    border-radius: 5px;
    left: 74px;
    top: 153px;
    width: 825px;
    height: 56px;
    position:relative;
    background-image: url("img/black_back.png") ;
}
.menu>ul>li{
    display:inline-block;
    font-size: 14px;
    font-family: "System";
    color: rgb(237, 237, 237);
    position: absolute;
    line-height: 1.2;
    font-weight: bold;
    left: 1px;
    top: 20px;
    z-index: 99;
}
.menu>ul>li:hover{
    background-color: #4f0016;
}
.menu>ul>li:first-of-type{
    left: 26px;

}
.menu>ul>li:nth-of-type(2){
    left: 140px;
}
.menu>ul>li:nth-of-type(3){
    left: 276px;
}
.menu>ul>li:nth-of-type(4){
    left: 374px;
}
.menu>ul>li:nth-of-type(5){
    left: 476px;
}

.Layer_5_copy_2 {
    background-image: url("Layer 5 copy 2.png");
    opacity: 0.902;
    position: absolute;
    left: 174px;
    top: 660px;
    width: 142px;
    height: 28px;
    z-index: 34;
}
