.div_{
    border: 1px solid black;
    width:200px;
    height:150px;
transition:1000ms;
    margin: auto;
}
.main{
    width:1000px;
    height:1050px;

    margin: auto;
}
#fly{
    border-radius: 50%;
    width:15px;
    height:15px;
    border: 1px solid black;
    background-color: aqua;
    position:fixed;
}