h1{
	font-size:44px ;
text-align:  center;
}
h2{
	font-size:34px ;
background-color: grey;
text-align:  center;
color:white;
}
h3{
	font-size:28px ;
text-align:  center;
       text-decoration: underline;
}
h4{
	font-size:26px ;
}
p{
	font-size:24px ;
}
#ramkakrug{
 width:1325px; /* Длина фигуры */
 height:130px; /* Высота фигуры */
 border: 2px black solid; /* стили рамки */
 border-radius: 10px; /* закругление углов для всех, кто понимает */
}
#ramkakrug1{
 width:1325px; /* Длина фигуры */
 height:300px; /* Высота фигуры */
 border: 2px black solid; /* стили рамки */
 border-radius: 10px; /* закругление углов для всех, кто понимает */
}