body{
    border: #61162c solid 1px;
    width: 800px;
    height:490px;
    margin:auto;
    position: relative;
}
form{
    margin:auto;
    position: absolute;
    top:40px;
    left:300px;
}
.text{
    margin:auto;
    position: absolute;
    top:180px;
    left:140px;
}
.error{
    margin:auto;
    position: absolute;
    top:280px;
    left:290px;
}
body>input{
    position: absolute;
    top:390px;
    left:360px;
}