
table, th, td {
	padding: 0px;
	border-collapse: collapse;
	width: 755px;
}

.papa {
	border-left-style: groove;
	border-left-color: #E0FFFF;
	border-width: 1px;
	padding-left: 7px;
	padding-right: 0px;
}

.papa2 {
	border-right-style: groove;
	border-right-color: #E0FFFF;
	border-width: 2px;
	padding-right: 7px;
}

.mama {
	border-collapse: separate;
	border-spacing: 10px;
}

.mama2 {
	padding-top: 2px;
	border-top: 4px solid #63c65a;
}

.papa3 {
	border-left-style: groove;
	border-left-color: #E0FFFF;
	border-width: 1px;
	padding-top: 10px;
	padding-left: 70px;
	padding-right: 5px;
	font-family: arial;
	font-size: 11pt;
}

.papa4 {
	border-right-style: groove;
	border-left-color: #E0FFFF;
	border-width: 1px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 95px;
	font-family: arial;
	font-size: 11pt;
}

.ver_al {
	vertical-align: middle;
}

.ver_al1 {
	vertical-align: bottom;
}

.padd {
	padding-right: 5px;
}

.pad_s {
padding-top: 20px;
}