.main{
width: 600px;
    heigth:700px;
    /*border: 1px solid black;*/
    margin:auto;
    position: relative;
}
body{width: 1000px;
}
#ul1{
    position: absolute;
    left: 55px;
    top:50px;
    overflow: hidden;
    list-style-type: none;
}
li{
    height: 20px;
    width: 80px;
    border: solid darkblue 1px;
    background-color: darksalmon;
    cursor: pointer;
}
#ul2{
    position: absolute;
    left: 335px;
    top:50px;
    overflow: hidden;
    list-style-type: none;
}
body>div.main>input:first-child{
    position: absolute;
    left:94px;
    top:30px;
}
body>div.main>input:nth-child(2){
    position: absolute;
    left:374px;
    top:30px;
}
body>div.main>input:nth-child(4){
    position: absolute;
    left:230px;
    top:80px;
}
body>div.main>input:nth-child(5){
    position: absolute;
    left:230px;
    top:100px;
}
.selected{
    background-color: aqua;

}

